<div class="page-wrapper d-flex flex-column h-100 card">
    <app-p-title-toolbar [pageTitle]="'الأنشطة'"></app-p-title-toolbar>
    <div class="dataBox">
        <a class="addLink">
            <button class="px-2 py-1 mt-2 main-btn align-self-center font-14 main border-radius-2 mt-sm-0" (click)="openAdd()" type="button" pButton pRipple>
                <div class="d-flex align-items-center">
                    <i class="bx bx-plus m-inline-end-1 font-18"></i>
                    <span class="p-inline-end-1">إضافة نشاط جديد</span>
                </div>
            </button>
        </a>
        @if (tableOptions) {
            <div class="mt-4">
                <app-p-datatable (event)="handleEvent($event)" [tableOptions]="tableOptions" [data]="data" [totalCount]="totalCount" [pageSize]="dataTableService.opt.pageSize"></app-p-datatable>
            </div>
        }
    </div>
</div>