<section id="not-found" class="h-100 overflow-hidden">
  <div class="circles bg-white text-center position-relative h-100">
    <p class="m-0 d-flex flex-column h-100 position-relative text-warning">
      {{ errorNumber }}
      <small  class="text-warning">{{ 'ERRORS.' + errorNumber }}</small>
      <small class="mt-4"
        ><a [routerLink]="['/dashboard']" class="font-30 text-primary">{{ 'الرجوع للصفحة الرئيسية' }}</a></small
      >
      <small class="mt-3 font-22 cursor-pointer" (click)="logout()">
        <a class="text-primary" [routerLink]="['/']">{{ 'خروج' }}</a>
      </small>
    </p>

    <span class="circle position-absolute big"></span>
    <span class="circle position-absolute med"></span>
    <span class="circle position-absolute small"></span>
  </div>
</section>
