.layout-main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    padding: 5.5rem var(--space-8) 0 var(--space-8);
    transition: all var(--layout-section-transition-duration);
    background: #f5f5f5;
}

.layout-main {
    flex: 1 1 auto;
    padding-bottom: var(--space-8);
    background: transparent;
}
