<p-card class="p-2 m-0">
    @if (form) {
        <form method="post" class="row" [formGroup]="form">
            <div class="col-lg-6">
                <app-prime-input-text [formGroup]="form" controlName="nameAr" validatorLanguageType="ar" [label]="'مسمي الفرع بالعربية'"> </app-prime-input-text>
            </div>
            <div class="col-lg-6">
                <app-prime-input-text [formGroup]="form" controlName="nameEn"  [label]="'مسمي الفرع بالإنجليزية'"> </app-prime-input-text>
            </div>
            <div class="col-lg-6">
                <app-prime-input-text [formGroup]="form" controlName="code" [label]="'الكود'"> </app-prime-input-text>
            </div>
        </form>
    }
</p-card>
@if (form) {
    <app-submit-buttons [isSubmitDisabled]="form.invalid" [submitButtonText]="pageType === 'add' ? 'ACTIONS.SUBMIT' : 'ACTIONS.SAVE'" (submit)="submit()" (cancel)="closeDialog()"> </app-submit-buttons>
}
